# Python
# Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos específicos del Editor/IDE
.vscode/
.idea/

# Virtual environment
venv/
env/

# Archivos generados por el Sistema Operativo (OS)
.DS_Store
Thumbs.db

# Archivos generados por el Sistema Operativo (OS)
# Archivos específicos del Editor/IDE